In [1]:
import pandas as pd
import numpy as np
import os
import dotenv
from dotenv import load_dotenv
from common.PortConnect import Port_Connect

In [2]:
load_dotenv()
api_key = os.getenv("API_KEY")

port = Port_Connect(api_key=api_key)
apple = port.historical_closing_price('AAPL')
apple

/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:56: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:62: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.set_index = pd.to_datetime(df.index, infer_datetime_format=True)

           symbol      close
date
1980-12-12   AAPL    0.12835
1980-12-15   AAPL    0.12165
1980-12-16   AAPL    0.11272
1980-12-17   AAPL    0.11551
1980-12-18   AAPL    0.11886
...           ...        ...
2025-06-03   AAPL  203.27000
2025-06-04   AAPL  202.82000
2025-06-05   AAPL  200.63000
2025-06-06   AAPL  203.92000
2025-06-09   AAPL  201.45000

[11214 rows x 2 columns]

## Calculate Key Metric Statistics for a holding

In [3]:
from common.Portfolio import Portfolio_Stats

In [4]:
port = Portfolio_Stats()

In [5]:
change = apple['close'].pct_change()
change

date
1980-12-12         NaN
1980-12-15   -0.052201
1980-12-16   -0.073407
1980-12-17    0.024752
1980-12-18    0.029002
                ...
2025-06-03    0.007784
2025-06-04   -0.002214
2025-06-05   -0.010798
2025-06-06    0.016398
2025-06-09   -0.012113
Name: close, Length: 11214, dtype: float64

In [6]:
type(change)

pandas.core.series.Series

In [7]:
filtered_change = change.loc['2010-01-01':'2025-12-31']

In [8]:
port.annualize_rets(filtered_change,252)

0.23782104326406617

In [9]:
port.annualize_vol(filtered_change,252)

0.28411193593192263

In [28]:
max_duration = port.drawdown_duration_from_returns(filtered_change)
max_time = max_duration.max()
max_time

Timedelta('718 days 00:00:00')

In [11]:
port.summary_stats(filtered_change)

,Annualized Return,Annualized Vol,Annualized Semideviation,Sharpe Ratio,Skewness,Kurtosis,Cornish-Fisher VaR (5%),Historic CVaR (5%),Max Drawdown
close,0.237821,0.284112,0.203667,0.990777,0.060865,9.136229,0.025901,0.040428,-0.443558

In [12]:
port.drawdown(filtered_change)

                  Wealth  Previous Peak  Drawdown
date
2010-01-04   1014.608234    1014.608234  0.000000
2010-01-05   1017.264276    1017.264276  0.000000
2010-01-06   1000.000000    1017.264276 -0.016971
2010-01-07    998.671979    1017.264276 -0.018277
2010-01-08   1005.312085    1017.264276 -0.011749
...                  ...            ...       ...
2025-06-03  26994.687915   34398.406375 -0.215234
2025-06-04  26934.926959   34398.406375 -0.216972
2025-06-05  26644.090305   34398.406375 -0.225427
2025-06-06  27081.009296   34398.406375 -0.212725
2025-06-09  26752.988048   34398.406375 -0.222261

[3882 rows x 3 columns]

In [13]:
filtered_change

date
2010-01-04    0.014608
2010-01-05    0.002618
2010-01-06   -0.016971
2010-01-07   -0.001328
2010-01-08    0.006649
                ...
2025-06-03    0.007784
2025-06-04   -0.002214
2025-06-05   -0.010798
2025-06-06    0.016398
2025-06-09   -0.012113
Name: close, Length: 3882, dtype: float64