In [1]:
import pandas as pd
import numpy as np
import os
import dotenv
from dotenv import load_dotenv
from common.PortConnect import Port_Connect

In [2]:
load_dotenv()
api_key = os.getenv("API_KEY")

fmp = Port_Connect(api_key=api_key)
apple = fmp.historical_closing_price('BRK.B')
apple

/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:56: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:62: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.set_index = pd.to_datetime(df.index, infer_datetime_format=True)

           symbol   close
date
1996-05-09  BRK.B   23.20
1996-05-10  BRK.B   24.00
1996-05-13  BRK.B   23.90
1996-05-14  BRK.B   23.60
1996-05-15  BRK.B   23.20
...           ...     ...
2024-08-22  BRK.B  449.03
2024-08-23  BRK.B  453.38
2024-08-26  BRK.B  454.49
2024-08-27  BRK.B  460.63
2024-08-28  BRK.B  464.59

[7124 rows x 2 columns]

## Calculate Key Metric Statistics for a holding

In [3]:
from common.Portfolio import Portfolio_Stats

In [4]:
port = Portfolio_Stats()

In [5]:
change = apple['close'].pct_change()
change

date
1996-05-09         NaN
1996-05-10    0.034483
1996-05-13   -0.004167
1996-05-14   -0.012552
1996-05-15   -0.016949
                ...
2024-08-22    0.005441
2024-08-23    0.009688
2024-08-26    0.002448
2024-08-27    0.013510
2024-08-28    0.008597
Name: close, Length: 7124, dtype: float64

In [6]:
type(change)

pandas.core.series.Series

In [7]:
filtered_change = change.loc['2010-01-01':'2025-12-31']

In [8]:
port.annualize_rets(filtered_change,252)

0.14297668079959802

In [9]:
port.annualize_vol(filtered_change,252)

0.19516056867051634

In [10]:
max_duration = port.drawdown_duration_from_returns(filtered_change)
max_duration

692

In [11]:
fmp.get_closing_prices('BRK.B')

/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:56: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:62: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.set_index = pd.to_datetime(df.index, infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:250: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  closing_df.index = pd.to_datetime(closing_df.index, infer_datetime_format=True)

symbol       BRK.B
date
1996-05-09   23.20
1996-05-10   24.00
1996-05-13   23.90
1996-05-14   23.60
1996-05-15   23.20
...            ...
2024-08-22  449.03
2024-08-23  453.38
2024-08-26  454.49
2024-08-27  460.63
2024-08-28  464.59

[7124 rows x 1 columns]

In [12]:
tickers = ['SYK','ISRG','BLK','BSX','HD',"SPY","BRK.B","INDA"]

prices = fmp.get_closing_prices(tickers,from_date='2010-01-01')
prices

/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:56: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:62: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.set_index = pd.to_datetime(df.index, infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:56: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:62: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.set_index = pd.to_datetime(df.index, infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:56: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:62: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.set_index = pd.to_datetime(df.index, infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:56: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:62: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.set_index = pd.to_datetime(df.index, infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:56: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:62: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.set_index = pd.to_datetime(df.index, infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:56: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:62: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.set_index = pd.to_datetime(df.index, infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:56: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:62: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.set_index = pd.to_datetime(df.index, infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:56: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:62: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.set_index = pd.to_datetime(df.index, infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:263: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  closing_df.index = pd.to_datetime(closing_df.index, infer_datetime_format=True)

symbol         BLK   BRK.B     BSX      HD   INDA    ISRG     SPY     SYK
date
2010-01-04  238.58  66.220    9.01   28.67    NaN   34.31  113.33   52.16
2010-01-05  239.61  66.540    9.04   28.88    NaN   34.15  113.63   52.65
2010-01-06  234.67  66.200    9.16   28.78    NaN   34.65  113.71   53.46
2010-01-07  237.25  66.459    9.09   29.12    NaN   34.52  114.19   55.25
2010-01-08  238.92  66.440    9.00   28.98    NaN   34.33  114.57   55.42
...            ...     ...     ...     ...    ...     ...     ...     ...
2025-06-16  982.10     NaN  101.49  353.56  54.56  519.04  602.68  377.12
2025-06-17  969.18     NaN  101.73  348.78  53.83  512.11  597.53  373.37
2025-06-18  979.52     NaN  101.37  347.03  53.79  509.49  597.44  373.26
2025-06-20  974.44     NaN  101.30  349.62  53.90  509.36  594.28  375.56
2025-06-23  986.30     NaN  102.36  356.96  54.31  515.09  600.15  379.16

[3891 rows x 8 columns]

In [15]:
dfs = []

market_index = prices["SPY"]

for ticker in prices.columns:
    change = prices[ticker].pct_change()
    summary = port.summary_stats(change,market_index=market_index)
    dfs.append(summary)


pd.concat(dfs)

/var/folders/01/l5vdw9pj3n7b0sg_9lmyyzbh0000gn/T/ipykernel_31466/1767858916.py:6: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  change = prices[ticker].pct_change()

,Annualized Return,Annualized Vol,Annualized Semideviation,Sharpe Ratio,Skewness,Kurtosis,Cornish-Fisher VaR (5%),Historic CVaR (5%),Max Drawdown,Drawdown Duration (Days),Up Days %,Ulcer index,Calmar Ratio,Sortino Ratio,Beta
BLK,0.096275,0.276792,0.200146,0.321544,0.051406,9.900021,0.025476,0.040000,-0.453314,1129,0.519280,19.016583,-0.212380,0.468613,1.449305e-06
BRK.B,0.134479,0.190028,0.138402,0.733037,0.233022,13.485230,0.015777,0.026670,-0.295699,692,0.495373,8.262051,-0.454781,0.756822,8.632238e-07
BSX,0.170451,0.283699,0.208738,0.653356,-0.137109,9.278637,0.027033,0.041629,-0.483368,1242,0.513625,17.779377,-0.352632,0.688581,2.351979e-06
HD,0.177416,0.233023,0.177982,0.804269,-0.617195,17.410990,0.021586,0.033399,-0.384058,1043,0.530848,12.218438,-0.461951,0.795547,-1.380659e-06
INDA,0.047009,0.223872,0.174656,0.117895,-0.632428,16.282494,0.021532,0.032584,-0.461377,1046,0.511593,12.938009,-0.101888,0.332250,1.246626e-06
ISRG,0.191773,0.320570,0.234387,0.670185,0.267589,12.664434,0.026811,0.045976,-0.499042,1410,0.533933,16.805905,-0.384281,0.708363,1.536749e-06
SPY,0.113998,0.174461,0.141299,0.577267,-0.322688,14.811983,0.015953,0.026660,-0.341047,745,0.549100,6.946824,-0.334257,0.663152,1.198148e-06
SYK,0.137088,0.241966,0.183874,0.565529,-0.108796,13.405060,0.021710,0.035554,-0.438028,727,0.528535,10.307098,-0.312966,0.639154,9.978658e-07

In [14]:
market_index

date
2010-01-04    113.33
2010-01-05    113.63
2010-01-06    113.71
2010-01-07    114.19
2010-01-08    114.57
               ...
2025-06-16    602.68
2025-06-17    597.53
2025-06-18    597.44
2025-06-20    594.28
2025-06-23    600.15
Name: SPY, Length: 3891, dtype: float64