In [1]:
import pandas as pd
import numpy as np
import os
import dotenv
from dotenv import load_dotenv

In [6]:
import sys
import os

# Go one level up to the project root
parent_dir = os.path.abspath('..')
if parent_dir not in sys.path:
    sys.path.append(parent_dir)

from common.PortConnect import Port_Connect

# Use the portfolio connector to retrieve prices

In [7]:
fmp_key = os.getenv("API_KEY")

In [8]:
port = Port_Connect(api_key=fmp_key)

# Asset-Only Asset Allocations and Meanâ€“Variance Optimization

## Calculate the investor's utility function for the asset mix

This is a formula that calculates the expected return for the investor, as a function of the expected return and an inverse relationship of the investor's risk aversion and variance return

Lets use the S&P 500 for this calculation

In [10]:
spy = port.get_closing_prices('SPY')
spy.sample(3)

/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:56: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:62: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.set_index = pd.to_datetime(df.index, infer_datetime_format=True)
/Users/franciscoruiz/Desktop/APPLIED_FINANCE_ANALYTICS/APPLIED_FINANCE_ANALYTICS/common/PortConnect.py:250: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  closing_df.index = pd.to_datetime(closing_df.index, infer_datetime_format=True)

symbol         SPY
date
2003-11-10  105.18
2002-02-11  111.44
2022-06-08  411.22

Calculate the percentage change of the daily closing prices

In [11]:
spy['Change']  = spy['SPY'].pct_change()
spy.tail(3)

symbol         SPY    Change
date
2025-03-20  565.49 -0.002892
2025-03-21  563.98 -0.002670
2025-03-24  574.08  0.017908

What is the range of the data?

In [13]:
print("The first date is ",spy.index[0])
print("The last date is ",spy.index[-1])

The first date is  1993-01-29 00:00:00
The last date is  2025-03-24 00:00:00

Now, let's calculate the mean return and variance of the whole series